<div class="tab-content">
    @if (lldpNode?.localSystemData) {
        <div class="lldp-grid-container">

            <div class="lldp-section">
                <span class="section-title">System</span>
                <div class="lldp-grid">
                    <span class="lldp-label">System Name</span>
                    <span>{{ lldpNode?.localSystemData?.systemName || '-' }}</span>

                    <span class="lldp-label">System Description</span>
                    <span>{{ lldpNode?.localSystemData?.systemDescription || '-' }}</span>

                    <span class="lldp-label">Capabilities Supported</span>
                    <span>{{ lldpNode?.localSystemData?.systemCapabilitiesSupported || '-' }}</span>

                    <span class="lldp-label">Capabilities Enabled</span>
                    <span>{{ lldpNode?.localSystemData?.systemCapabilitiesEnabled || '-' }}</span>
                </div>
            </div>

            <div class="lldp-section">
                <span class="section-title">Chassis & Port</span>
                <div class="lldp-grid">
                    <span class="lldp-label">Chassis ID</span>
                    <span>{{ lldpNode?.localSystemData?.chassisId || '-' }}</span>

                    <span class="lldp-label">Chassis ID Subtype</span>
                    <span>{{ lldpNode?.localSystemData?.chassisIdSubtype || '-' }}</span>

                    <span class="lldp-label">Interface Name</span>
                    <span>{{ lldpPort?.name || '-' }}</span>

                    <span class="lldp-label">Destination Mac Address</span>
                    <span>{{ lldpPort?.destMacAddress || '-' }}</span>

                    <span class="lldp-label">Admin Status</span>
                    <span>{{ lldpPort?.adminStatus || '-' }}</span>
                </div>
            </div>

            @for (neighbor of lldpPort?.neighbors; track $index) {
                <div class="lldp-section">
                    <span class="section-title">Neighbor Information</span>
                    <div class="lldp-grid">
                        <span class="lldp-label">System Name</span>
                        <span>{{ neighbor.systemName || '-' }}</span>

                        <span class="lldp-label">Chassis ID</span>
                        <span>{{ neighbor.chassisId || '-' }}</span>

                        <span class="lldp-label">Port ID</span>
                        <span>{{ neighbor.portId || '-' }}</span>

                        <span class="lldp-label">Management IP</span>
                        <span>{{ neighbor.managementIp || '-' }}</span>

                        <span class="lldp-label">Time to Live</span>
                        <span>{{ neighbor.ttl || '-' }}</span>
                    </div>
                </div>
            }

        </div>
    } @else {
        <p>No LLDP information detected.</p>
    }
</div>