alabaster
babel
certifi
charset-normalizer
docutils
idna
imagesize
Jinja2
markdown-it-py
MarkupSafe
mdit-py-plugins
mdurl
myst-parser
packaging
Pygments
PyYAML
requests
roman-numerals
snowballstemmer
Sphinx
sphinx-rtd-dark-mode
sphinx_rtd_theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
urllib3
